body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 20px;
    box-sizing: border-box;
}

h1, h2 {
    text-align: center;
}

#stageContainer {
    position: relative;
}

#videoContainer {
    position: relative;
    width: 100%;
    padding-top: 75%; /* Aspect ratio 4:3 */
    overflow: hidden;
    margin-bottom: 20px;
}

#video {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

#photos {
    display: flex;
    flex-wrap: nowrap;
    gap: 10px;
    justify-content: flex-end; 
    overflow-x: auto; 
    margin-top: 20px;
    flex-direction: row-reverse;
    align-items: center;
}

.photoContainer {
    position: relative;
    display: flex;
    width: auto; 
    height: 150px; 
    overflow: hidden;
}


.photo {
    width: 100%;
    height: 100%;
    object-fit: cover;
    cursor: pointer;
}

.deleteButton {
    position: absolute;
    top: 5px;
    right: 5px;
    background: none;
    border: none;
    cursor: pointer;
    padding: 2px 5px;
}

.deleteButton svg {
    width: 40px;
    height: 40px;
    fill: red;
}

.hidden {
    display: none;
}

#stageNavigation {
    text-align: center;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: center;
    overflow-x: auto;
    gap: 10px;
}

.stageButton {
    padding: 0.25%;
    margin: 0.25%;
    cursor: pointer;
    border: 1px solid black;
    background-color: #f0f0f0;
    font-size: 0.75rem;
    height: auto;
    min-height: 2.5rem;
    width: auto;
    min-width: 35%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.stageButton.active {
    background-color: #d0d0d0;
}

#modalBackground {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.7);
}
#modal {
    display: none;
    position: fixed;
    z-index: 2;
    left: 50%;
    top: 50%;
    font-size: 1.25rem;
    transform: translate(-50%, -50%);
    max-width: 95%;
    max-height: 95%;
    background-color: rgba(255, 255, 255, 0.897);
    border-radius: 10px;
    overflow: auto;
}

#damageLevel{
    font-size: 1.25rem !important;
}

#modalCloseButton{
    font-size: 1.25rem !important;
}

#modalSaveButton{
    font-size: 1.25rem !important;
}

#modalImage {
    display: block;
    width: 100%;
    height: auto;
    border-radius: 10px;
}

#modalClose {
    position: absolute;
    top: 10px;
    right: 10px;
    color: #f1f1f1;
    font-size: 50px;
    font-weight: bold;
    cursor: pointer;
    transition: 0.3s;
}

#buttons{
    display: flex;
    justify-content: flex-end;
}

#modalClose:hover,
#modalClose:focus {
    color: #bbb;
    text-decoration: none;
}


#additionalOptions {
    display: none;
}

.modal-body {
    position: relative;
}

#captureButton {
    background-color: #00aaff;
    border: none;
    font-size: 60px;
}

#captureButton:hover {
    background-color: #0088cc;
}

#captureButton:focus {
    box-shadow: 0 0 0 5px rgba(0, 0, 0, 0.2);
}


.loader-container {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    z-index: 9999;
    justify-content: center;
    align-items: center;
}

#loaderContainer {
    display: none;
}

.loader {
    border: 8px solid #f3f3f3;
    border-top: 8px solid #3498db;
    border-radius: 50%;
    width: 60px;
    height: 60px;
    animation: spin 2s linear infinite;
}

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg);}
}

@media (orientation: portrait) {
    #videoContainer {
        width: 100%;
        padding-top: 177.77%; /* Aspect ratio 9:16 */
    }

    #modal{
        width: max-content;
    }

    #captureButton {
        position: absolute;
        bottom: 5%;
        left: 50%;
        transform: translateX(-50%);
    }
}

@media (orientation: landscape) {
    #videoContainer {
        width: 80%;
        padding-top: 45%; /* Aspect ratio 16:9 */
        left: 10%;
    }  

    #captureButton {
        font-size: 30px;
        position: absolute;
        bottom: 35%;
        right: 2%;
        transform: none;
    }
}
